.fondo{


    background-image: url(https://cdn.pixabay.com/photo/2022/02/10/15/39/art-7005558_1280.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {

    color: rgb(191, 223, 9);
    font-weight: bolder;

}

h1{
    color: #c1c2bd;
    font-weight: bolder;
    text-align: center;

}